body {
    display:flex;
}

#pad {
    display: inline-grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    height: 600px;
    width: 600px;
    border: 1px solid black;
}

.cell {
    border: 1px solid black; 
}